<!DOCTYPE html>
<html>
<head>
    <title>Infraestructura de AGRODAT</title>
    <meta name="description" content="Descripción de la infraestructura tecnológica de la plataforma AGRODAT.">
    <meta name="author" content="Juan Esteban Muñoz">
</head>
<body>
    <h1>Infraestructura de AGRODAT</h1>
    <nav>
        <ul>
            <li><a href="#contenido">Ir al Contenido</a></li>
        </ul>
    </nav>
    <section id="contenido">
        <h2>Detalles de Infraestructura</h2>
        
        <p>AGRODAT utiliza una infraestructura dividida en dos partes: la principal para el manejo diario de peticiones y una réplica sincronizada en tres horarios distintos para alta disponibilidad. A pesar de que la alta disponibilidad no es un requerimiento crítico, esta configuración facilita una rápida respuesta en caso de fallas.</p>
        
        <p>Los servidores dedicados están alojados con OVH, ubicados en Canadá (principales) y en Francia (secundarios). Están virtualizados con KVM y operan con LINUX UBUNTU 18.0.</p>

        <!-- Más detalles pueden ser añadidos aquí si es necesario -->
    </section>
</body>
</html>
