<!DOCTYPE html>
<html lang="es">
  <head>
    <title>AGRODAT</title>

  </head>
  
  <body>
    <h1>AGRODAT - INICIO</h1>
    <header>
      <nav>      
        <ul>
          <li><a href="/objetivos">OBJETIVO</a></li>
          <li><a href="/usuarios">USUARIOS</a></li>
          <li><a href="/modulos">MÓDULOS</a></li>
          <li><a href="/nofuncionales">REQUERIMIENTOS</a></li>
          <li><a href="/arquitectura">ARQUITECTURA</a></li>
          <li><a href="/infraestructura">INFRAESTRUCTURA</a></li>
        </ul>
      </nav>
    </header>
    <router-outlet></router-outlet>
  </body>
</html>
