<!DOCTYPE html>
<html>
<head>
    <title>Usuarios de AGRODAT</title>
    <meta name="description" content="Descripción de los diferentes tipos de usuarios de la plataforma AGRODAT.">
    <meta name="author" content="Juan Esteban Muñoz">
</head>
<body>
    <h1>Usuarios de AGRODAT</h1>
    <nav>
        <ul>
            <li><a href="#contenido">Ir al Contenido</a></li>
        </ul>
    </nav>
    <section id="contenido">
        <h2>Tipos de Usuarios</h2>
        <h3>Usuario Finca</h3>
        <p>Responsable de recoger información en la finca, utilizando una aplicación móvil para facilitar la captura de datos.</p>
        
        <h3>Usuario Administrador Finca</h3>
        <p>Revisa y procesa la información capturada por el Usuario Finca, asegurando la precisión y utilidad de los datos.</p>
        
        <h3>Usuario Administrador Plataforma</h3>
        <p>Brinda soporte a los usuarios de finca y administradores, asegurando el funcionamiento óptimo de la plataforma.</p>
        <!-- Más detalles pueden ser añadidos aquí si es necesario -->
    </section>
</body>
</html>
